@if (pokemon) {
  <div
    class="flex flex-col items-center rounded-lg drop-shadow-md gap-4 shadow-xl"
  >
    <figure class="">
      <img
        src="{{ pokemon.cover }}"
        alt="{{ pokemon.name }}"
        class="object-contain w-24 h-24 max-h-fit drop-shadow-md rounded-md"
      />
    </figure>
    <a
      [routerLink]="['/pokemon', pokemon.name]"
      class="btn btn-primary w-full h-1"
    >
      View
    </a>
  </div>
} @else {
  <span className="loading loading-spinner text-primary"></span>
}
